Repository pipe-works/pipeworks_name_generation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cli-docs-reminder, check-rst-docstrings

Path conditions:
  check-cli-docs-reminder: any of: ^build_tools/.*/(cli|__main__)\.py$, but not: ^data/(normalized|annotated)/
  check-rst-docstrings: any of: ^build_tools/.*\.py$ and \.py$ and not (^data/(normalized|annotated)/)

docs: update README and Sphinx docs for consolidated syllable-walk-web
  .gitignore
  README.md
  build_tools/syllable_walk_web/__init__.py
  data/raw/syllable_extractor.db
  docs/source/_static/syllable_walk_web_preview.png
  docs/source/build_tools/index.rst
  docs/source/build_tools/syllable_walk_web.rst
Due: check-rst-docstrings

feat(build_tools): replace two-step corpus modal with one-step dropdown
  build_tools/syllable_walk_web/static/css/app.css
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/app.js
Due: none

feat(build_tools): per-patch corpus dirs, INI config, UI fixes and layout
  build_tools/syllable_walk_web/api/pipeline.py
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/cli.py
  build_tools/syllable_walk_web/server.py
  build_tools/syllable_walk_web/state.py
  build_tools/syllable_walk_web/static/css/app.css
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/app.js
  pipeworks_name_generation/webapp/config.py
  server.example.ini
  tests/test_pipeworks_webapp_config.py
  tests/test_syllable_walk_server.py
  tests/test_syllable_walk_web_api_pipeline.py
  tests/test_syllable_walk_web_api_walker.py
  tests/test_syllable_walk_web_cli.py
Due: check-cli-docs-reminder, check-rst-docstrings

chore: fix YAML/markdown formatting and update corpus db
  .github/workflows/ci.yml
  CHANGELOG.md
  codecov.yml
  data/raw/syllable_extractor.db
Due: none

feat(webapp): file browser import, delete package, importer fixes
  build_tools/syllable_walk_web/static/css/app.css
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/app.js
  data/raw/syllable_extractor.db
  docs/source/_static/syllable_walk_web_preview.png
  pipeworks_name_generation/webapp/db/__init__.py
  pipeworks_name_generation/webapp/db/importer.py
  pipeworks_name_generation/webapp/db/repositories.py
  pipeworks_name_generation/webapp/endpoint_adapters.py
  pipeworks_name_generation/webapp/frontend/static/app.css
  pipeworks_name_generation/webapp/frontend/static/app.js
  pipeworks_name_generation/webapp/frontend/templates/index.html
  pipeworks_name_generation/webapp/generation.py
  pipeworks_name_generation/webapp/route_registry.py
  pipeworks_name_generation/webapp/routes/browse.py
  pipeworks_name_generation/webapp/routes/database_admin.py
Due: none

feat(build_tools): add traversal reach computation for walker profiles
  build_tools/syllable_walk/__init__.py
  build_tools/syllable_walk/reach.py
  build_tools/syllable_walk/walker.py
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/state.py
  tests/test_reach.py
  tests/test_syllable_walk_web_api_walker.py
Due: check-rst-docstrings

feat(build_tools): add 3-tier progressive disclosure UI for walker
  build_tools/syllable_walk_web/server.py
  build_tools/syllable_walk_web/static/css/app.css
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/app.js
Due: check-rst-docstrings

feat(webapp): add version display, header icon, and package manifest
  pipeworks_name_generation/webapp/db/repositories.py
  pipeworks_name_generation/webapp/endpoint_adapters.py
  pipeworks_name_generation/webapp/frontend/static/app.css
  pipeworks_name_generation/webapp/frontend/static/app.js
  pipeworks_name_generation/webapp/frontend/templates/index.html
  pipeworks_name_generation/webapp/route_registry.py
Due: none

chore: update syllable extractor database
  data/raw/syllable_extractor.db
Due: none

fix(tests): relax reach timing assertion for Windows clock resolution
  tests/test_reach.py
Due: none

test: cover 12 missing lines flagged by Codecov
  tests/test_pipeworks_webapp_api_contracts.py
  tests/test_reach.py
  tests/test_syllable_walk.py
  tests/test_syllable_walk_server.py
  tests/test_syllable_walk_web_api_walker.py
Due: none

fix: allow feat commits to bump minor version in 0.x
  release-please-config.json
Due: none

feat(webapp): add profile reach syllable tabs with copy/export
  build_tools/syllable_walk/reach.py
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/server.py
  build_tools/syllable_walk_web/static/css/app.css
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/app.js
  data/raw/syllable_extractor.db
  tests/test_reach.py
  tests/test_syllable_walk_web_api_walker.py
Due: check-rst-docstrings

refactor(build-tools): modularize syllable walk web app frontend
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/app.js
  build_tools/syllable_walk_web/static/js/core/files.js
  build_tools/syllable_walk_web/static/js/core/status.js
  build_tools/syllable_walk_web/static/js/pipeline/pipeline.js
  build_tools/syllable_walk_web/static/js/ui/navigation.js
  build_tools/syllable_walk_web/static/js/ui/param-info.js
  build_tools/syllable_walk_web/static/js/ui/theme.js
  build_tools/syllable_walk_web/static/js/walker/controls.js
  build_tools/syllable_walk_web/static/js/walker/corpus.js
  build_tools/syllable_walk_web/static/js/walker/operations.js
  build_tools/syllable_walk_web/static/js/walker/reach.js
  tests/test_syllable_walk_server.py
Due: none

fix(tui): guard late browser events during modal teardown
  build_tools/tui_common/controls/browsers.py
Due: check-rst-docstrings

test(tui): cover teardown-safe directory browser branches
  tests/build_tools/tui_common/test_controls.py
Due: none

feat: align pipeline history API, UI, and docs
  build_tools/syllable_walk_web/__init__.py
  build_tools/syllable_walk_web/api/pipeline.py
  build_tools/syllable_walk_web/run_discovery.py
  build_tools/syllable_walk_web/static/css/app.css
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/pipeline/pipeline.js
  build_tools/syllable_walk_web/static/js/ui/navigation.js
  build_tools/syllable_walk_web/static/js/walker/controls.js
  data/raw/syllable_extractor.db
  docs/source/build_tools/corpus_sqlite_builder.rst
  docs/source/build_tools/index.rst
  docs/source/build_tools/syllable_walk.rst
  docs/source/build_tools/syllable_walk_tui.rst
  docs/source/build_tools/syllable_walk_web.rst
  tests/test_syllable_walk_run_discovery.py
  tests/test_syllable_walk_web_api_pipeline.py
Due: check-rst-docstrings

test: cover pipeline history and length-validation branches
  tests/test_syllable_walk_run_discovery.py
  tests/test_syllable_walk_web_api_pipeline.py
Due: none

feat: align pipeline history API, UI, and docs (#101)
  build_tools/syllable_walk_web/__init__.py
  build_tools/syllable_walk_web/api/pipeline.py
  build_tools/syllable_walk_web/run_discovery.py
  build_tools/syllable_walk_web/static/css/app.css
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/pipeline/pipeline.js
  build_tools/syllable_walk_web/static/js/ui/navigation.js
  build_tools/syllable_walk_web/static/js/walker/controls.js
  data/raw/syllable_extractor.db
  docs/source/build_tools/corpus_sqlite_builder.rst
  docs/source/build_tools/index.rst
  docs/source/build_tools/syllable_walk.rst
  docs/source/build_tools/syllable_walk_tui.rst
  docs/source/build_tools/syllable_walk_web.rst
  tests/test_syllable_walk_run_discovery.py
  tests/test_syllable_walk_web_api_pipeline.py
Due: check-rst-docstrings

feat: add pipeline manifest lifecycle and ipc hashing
  AGENTS.md
  build_tools/syllable_walk_web/services/pipeline_manifest.py
  build_tools/syllable_walk_web/services/pipeline_runner.py
  data/raw/syllable_extractor.db
  pyproject.toml
  tests/test_syllable_walk_web_pipeline_manifest.py
  tests/test_syllable_walk_web_pipeline_runner.py
Due: check-rst-docstrings

test: raise pipeline manifest and runner patch coverage
  tests/test_syllable_walk_web_pipeline_manifest.py
  tests/test_syllable_walk_web_pipeline_runner.py
Due: none

feat: add pipeline manifest lifecycle and ipc hashing (#103)
  AGENTS.md
  build_tools/syllable_walk_web/services/pipeline_manifest.py
  build_tools/syllable_walk_web/services/pipeline_runner.py
  data/raw/syllable_extractor.db
  pyproject.toml
  tests/test_syllable_walk_web_pipeline_manifest.py
  tests/test_syllable_walk_web_pipeline_runner.py
Due: check-rst-docstrings

feat: make pipeline history manifest-driven with ipc details
  build_tools/syllable_walk_web/run_discovery.py
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/pipeline/pipeline.js
  docs/source/build_tools/corpus_sqlite_builder.rst
  docs/source/build_tools/syllable_walk_web.rst
  tests/test_syllable_walk_run_discovery.py
  tests/test_syllable_walk_web_pipeline_manifest.py
  tests/test_syllable_walk_web_pipeline_runner.py
Due: check-rst-docstrings

fix: increase run discovery coverage for manifest edge cases
  data/raw/syllable_extractor.db
  tests/test_syllable_walk_run_discovery.py
Due: none

feat: make pipeline history manifest-driven with ipc details (#104)
  build_tools/syllable_walk_web/run_discovery.py
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/pipeline/pipeline.js
  data/raw/syllable_extractor.db
  docs/source/build_tools/corpus_sqlite_builder.rst
  docs/source/build_tools/syllable_walk_web.rst
  tests/test_syllable_walk_run_discovery.py
  tests/test_syllable_walk_web_pipeline_manifest.py
  tests/test_syllable_walk_web_pipeline_runner.py
Due: check-rst-docstrings

fix(walker): harden loader state and wire walk controls
  build_tools/syllable_walk/walker.py
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/services/walk_generator.py
  build_tools/syllable_walk_web/state.py
  build_tools/syllable_walk_web/static/css/app.css
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/ui/param-info.js
  build_tools/syllable_walk_web/static/js/walker/controls.js
  build_tools/syllable_walk_web/static/js/walker/corpus.js
  build_tools/syllable_walk_web/static/js/walker/operations.js
  tests/test_syllable_walk.py
  tests/test_syllable_walk_web_api_walker.py
  tests/test_syllable_walk_web_services.py
Due: check-rst-docstrings

test(walker): cover validation and stale-loader branches
  tests/test_syllable_walk.py
  tests/test_syllable_walk_web_api_walker.py
  tests/test_syllable_walk_web_services.py
Due: none

fix(walker): harden loader state and wire walk controls (#105)
  build_tools/syllable_walk/walker.py
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/services/walk_generator.py
  build_tools/syllable_walk_web/state.py
  build_tools/syllable_walk_web/static/css/app.css
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/ui/param-info.js
  build_tools/syllable_walk_web/static/js/walker/controls.js
  build_tools/syllable_walk_web/static/js/walker/corpus.js
  build_tools/syllable_walk_web/static/js/walker/operations.js
  tests/test_syllable_walk.py
  tests/test_syllable_walk_web_api_walker.py
  tests/test_syllable_walk_web_services.py
Due: check-rst-docstrings

fix: complete walker phase 5 api-aligned hardening
  build_tools/syllable_walk_web/run_discovery.py
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/app.js
  build_tools/syllable_walk_web/static/js/pipeline/pipeline.js
  build_tools/syllable_walk_web/static/js/walker/corpus.js
  build_tools/syllable_walk_web/static/js/walker/operations.js
  build_tools/syllable_walk_web/static/js/walker/reach.js
  tests/test_syllable_walk_run_discovery.py
  tests/test_syllable_walk_web_api_pipeline.py
Due: check-rst-docstrings

fix: complete walker phase 5 api-aligned hardening (#106)
  build_tools/syllable_walk_web/run_discovery.py
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/app.js
  build_tools/syllable_walk_web/static/js/pipeline/pipeline.js
  build_tools/syllable_walk_web/static/js/walker/corpus.js
  build_tools/syllable_walk_web/static/js/walker/operations.js
  build_tools/syllable_walk_web/static/js/walker/reach.js
  tests/test_syllable_walk_run_discovery.py
  tests/test_syllable_walk_web_api_pipeline.py
Due: check-rst-docstrings

feat(walker-web): add optional walk constraints with configure toggles
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/services/walk_generator.py
  build_tools/syllable_walk_web/static/css/app.css
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/ui/param-info.js
  build_tools/syllable_walk_web/static/js/walker/controls.js
  build_tools/syllable_walk_web/static/js/walker/operations.js
  tests/test_syllable_walk_web_api_walker.py
  tests/test_syllable_walk_web_services.py
Due: check-rst-docstrings

feat(walker-web): add packaged schema resource for profile-reach cache
  build_tools/syllable_walk_web/schemas/walker_profile_reaches.v1.schema.json
  pyproject.toml
  tests/test_syllable_walk_web_schema_resource.py
Due: none

feat(walker-web): cache profile reaches per run with IPC hashes
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/services/profile_reaches_cache.py
  build_tools/syllable_walk_web/state.py
  tests/test_syllable_walk_web_api_walker.py
  tests/test_syllable_walk_web_profile_reaches_cache.py
  tests/test_syllable_walk_web_state.py
Due: check-rst-docstrings

docs(walker-web): document run-local profile reach cache contract
  docs/source/build_tools/syllable_walk_web.rst
Due: none

docs: expand walker web api contract guidance
  docs/source/build_tools/syllable_walk_web.rst
Due: none

docs: codify CI-gated branch workflow in AGENTS
  AGENTS.md
Due: none

feat(walker): add IPC hash verification status in corpus panel
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/services/pipeline_manifest.py
  build_tools/syllable_walk_web/services/profile_reaches_cache.py
  build_tools/syllable_walk_web/state.py
  build_tools/syllable_walk_web/static/css/app.css
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/walker/corpus.js
  tests/test_syllable_walk_web_api_walker.py
  tests/test_syllable_walk_web_pipeline_manifest.py
  tests/test_syllable_walk_web_profile_reaches_cache.py
  tests/test_syllable_walk_web_state.py
Due: check-rst-docstrings

test(walker): cover IPC verification edge branches
  tests/test_syllable_walk_web_api_walker.py
  tests/test_syllable_walk_web_pipeline_manifest.py
  tests/test_syllable_walk_web_profile_reaches_cache.py
Due: none

feat(walker): add IPC hash verification status in corpus panel (#109)
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/services/pipeline_manifest.py
  build_tools/syllable_walk_web/services/profile_reaches_cache.py
  build_tools/syllable_walk_web/state.py
  build_tools/syllable_walk_web/static/css/app.css
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/walker/corpus.js
  tests/test_syllable_walk_web_api_walker.py
  tests/test_syllable_walk_web_pipeline_manifest.py
  tests/test_syllable_walk_web_profile_reaches_cache.py
  tests/test_syllable_walk_web_state.py
Due: check-rst-docstrings
