Repository pipe-works/pipeworks_name_generation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cli-docs-reminder, check-rst-docstrings

check-cli-docs-reminder:
  name: CLI Docs Reminder
  ...

check-rst-docstrings:
  name: RST Docstring Formatting
  entry: python scripts/check_rst_docstrings.py
  language: system
  pass_filenames: true

feat(syllable_walk): Simplify web interface with selections browser and SQLite support (#20)
  build_tools/syllable_walk/cli.py
  build_tools/syllable_walk/db.py
  build_tools/syllable_walk/run_discovery.py
  build_tools/syllable_walk/server.py
  build_tools/syllable_walk/walker.py
  build_tools/syllable_walk/web_assets.py
  claude/build_tools/syllable_walk.md
  docs/source/build_tools/syllable_walk.rst
  tests/test_syllable_walk_cli.py
  tests/test_syllable_walk_server.py
Due: check-cli-docs-reminder, check-rst-docstrings

test(build_tools): Improve test coverage for syllable_walk and syllable_analysis
  tests/test_pyphen_syllable_extractor_batch.py
  tests/test_syllable_analysis.py
  tests/test_syllable_walk_db.py
  tests/test_syllable_walk_run_discovery.py
  tests/test_syllable_walk_server.py
Due: none

chore(data): Update syllable extractor database
  data/raw/syllable_extractor.db
Due: none

refactor(build_tools): Extract web UI to syllable_walk_web module
  build_tools/syllable_walk/__init__.py
  build_tools/syllable_walk/cli.py
  build_tools/syllable_walk_web/__init__.py
  build_tools/syllable_walk_web/__main__.py
  build_tools/syllable_walk_web/cli.py
  build_tools/syllable_walk_web/dataset_discovery.py
  build_tools/syllable_walk_web/run_discovery.py
  build_tools/syllable_walk_web/server.py
  build_tools/syllable_walk_web/web_assets.py
  docs/source/build_tools/index.rst
  docs/source/build_tools/syllable_walk.rst
  docs/source/build_tools/syllable_walk_tui.rst
  docs/source/build_tools/syllable_walk_web.rst
  tests/test_syllable_walk_cli.py
  tests/test_syllable_walk_dataset_discovery.py
  tests/test_syllable_walk_run_discovery.py
  tests/test_syllable_walk_server.py
Due: check-cli-docs-reminder, check-rst-docstrings

feat(name_selector): Add organisation and title_epithet name classes
  CLAUDE.md
  data/name_classes.yml
  docs/source/build_tools/name_selector.rst
Due: none

feat(name_selector): Add organisation and title_epithet name classes (#25)
  CLAUDE.md
  data/name_classes.yml
  docs/source/build_tools/name_selector.rst
Due: none

test(tui): Add comprehensive combiner panel and event handler tests
  tests/build_tools/syllable_walk_tui/test_app.py
Due: none

Feat/add name classes (#26)
  build_tools/syllable_walk_tui/core/app.py
  build_tools/syllable_walk_tui/core/state.py
  build_tools/syllable_walk_tui/modules/__init__.py
  build_tools/syllable_walk_tui/modules/generator/__init__.py
  build_tools/syllable_walk_tui/modules/generator/panel.py
  build_tools/syllable_walk_tui/modules/generator/state.py
  build_tools/syllable_walk_tui/modules/oscillator/panel.py
  tests/build_tools/syllable_walk_tui/modules/generator/__init__.py
  tests/build_tools/syllable_walk_tui/modules/generator/test_panel.py
  tests/build_tools/syllable_walk_tui/modules/generator/test_state.py
  tests/build_tools/syllable_walk_tui/test_app.py
Due: check-rst-docstrings

feat(syllable_walk_tui): Add name_selector functionality to TUI (#27)
  build_tools/syllable_walk_tui/core/app.py
  build_tools/syllable_walk_tui/core/state.py
  build_tools/syllable_walk_tui/modules/generator/__init__.py
  build_tools/syllable_walk_tui/modules/generator/selector_panel.py
  build_tools/syllable_walk_tui/modules/generator/state.py
  tests/build_tools/syllable_walk_tui/modules/generator/test_selector_panel.py
  tests/build_tools/syllable_walk_tui/modules/generator/test_state.py
  tests/build_tools/syllable_walk_tui/test_app.py
Due: check-rst-docstrings

test: Add coverage tests for selector order parameter and TUI controls
  tests/build_tools/name_selector/test_selector.py
  tests/build_tools/syllable_walk_tui/modules/generator/test_selector_panel.py
  tests/build_tools/syllable_walk_tui/test_app.py
  tests/build_tools/tui_common/test_controls.py
Due: none

test(selector_panel): Add async tests for mounted widget coverage
  tests/build_tools/syllable_walk_tui/modules/generator/test_selector_panel.py
Due: none

feat(syllable_walk_tui): Add name ordering options and display improvements (#29)
  build_tools/name_selector/selector.py
  build_tools/syllable_walk_tui/controls/__init__.py
  build_tools/syllable_walk_tui/core/app.py
  build_tools/syllable_walk_tui/modules/generator/selector_panel.py
  build_tools/syllable_walk_tui/modules/generator/state.py
  build_tools/tui_common/controls/__init__.py
  build_tools/tui_common/controls/selects.py
  docs/source/build_tools/name_selector.rst
  docs/source/build_tools/tui_common.rst
  tests/build_tools/name_selector/test_selector.py
  tests/build_tools/syllable_walk_tui/modules/generator/test_selector_panel.py
  tests/build_tools/syllable_walk_tui/test_app.py
  tests/build_tools/tui_common/test_controls.py
Due: check-rst-docstrings

feat(syllable_walk_tui): Add TXT export for selected names
  build_tools/syllable_walk_tui/core/app.py
  build_tools/syllable_walk_tui/modules/generator/selector_panel.py
Due: check-rst-docstrings

test(syllable_walk_tui): Add tests for button handlers and error path
  tests/build_tools/syllable_walk_tui/test_app.py
Due: none

refactor(syllable_walk_tui): Modularize app.py into focused modules (#31)
  build_tools/syllable_walk_tui/core/actions.py
  build_tools/syllable_walk_tui/core/app.py
  build_tools/syllable_walk_tui/core/handlers.py
  build_tools/syllable_walk_tui/core/styles.tcss
  build_tools/syllable_walk_tui/services/__init__.py
  build_tools/syllable_walk_tui/services/combiner_runner.py
  build_tools/syllable_walk_tui/services/exporter.py
  build_tools/syllable_walk_tui/services/generation.py
  build_tools/syllable_walk_tui/services/selector_runner.py
  tests/build_tools/syllable_walk_tui/test_app.py
Due: check-rst-docstrings

chore: Add syllable_extractor.db to gitignore
  .gitignore
Due: none

feat(name_renderer): Add name rendering system with TUI integration
  build_tools/name_renderer/__init__.py
  build_tools/name_renderer/render.py
  build_tools/name_renderer/rules.yml
  build_tools/syllable_walk_tui/core/app.py
  build_tools/syllable_walk_tui/modules/renderer/__init__.py
  build_tools/syllable_walk_tui/modules/renderer/screen.py
  tests/build_tools/name_renderer/__init__.py
  tests/build_tools/name_renderer/test_render.py
  tests/build_tools/syllable_walk_tui/test_render_screen.py
Due: check-rst-docstrings

feat(name_renderer): Add name rendering system with TUI integration (#33)
  build_tools/name_renderer/__init__.py
  build_tools/name_renderer/render.py
  build_tools/name_renderer/rules.yml
  build_tools/syllable_walk_tui/core/app.py
  build_tools/syllable_walk_tui/modules/renderer/__init__.py
  build_tools/syllable_walk_tui/modules/renderer/screen.py
  tests/build_tools/name_renderer/__init__.py
  tests/build_tools/name_renderer/test_render.py
  tests/build_tools/syllable_walk_tui/test_app.py
  tests/build_tools/syllable_walk_tui/test_render_screen.py
Due: check-rst-docstrings

chore: Add syllable_extractor.db to gitignore (#32)
  .gitignore
Due: none

refactor(build_tools): Remove deprecated backward-compatibility shims
  build_tools/syllable_feature_annotator/__init__.py
  build_tools/syllable_walk_tui/controls/inputs.py
  build_tools/syllable_walk_tui/controls/sliders.py
  build_tools/syllable_walk_tui/controls/spinners.py
  build_tools/syllable_walk_tui/services/config.py
Due: check-rst-docstrings

refactor(cli): Extract shared CLI utilities to tui_common.cli_utils
  build_tools/nltk_syllable_extractor/cli.py
  build_tools/pyphen_syllable_extractor/cli.py
  build_tools/tui_common/__init__.py
  build_tools/tui_common/cli_utils.py
  tests/test_nltk_syllable_extractor.py
  tests/test_pyphen_syllable_extractor_batch.py
Due: check-cli-docs-reminder, check-rst-docstrings

test: Add coverage tests for CLI utilities and extractor CLIs
  tests/build_tools/nltk_syllable_extractor/__init__.py
  tests/build_tools/nltk_syllable_extractor/test_cli.py
  tests/build_tools/pyphen_syllable_extractor/__init__.py
  tests/build_tools/pyphen_syllable_extractor/test_cli.py
  tests/build_tools/tui_common/test_cli_utils.py
Due: none

refactor(syllable_walk_tui): Extract UI updates and validation helpers from app.py (#38)
  build_tools/syllable_walk_tui/core/__init__.py
  build_tools/syllable_walk_tui/core/actions.py
  build_tools/syllable_walk_tui/core/app.py
  build_tools/syllable_walk_tui/core/ui_updates.py
  tests/build_tools/syllable_walk_tui/core/__init__.py
  tests/build_tools/syllable_walk_tui/core/test_actions.py
  tests/build_tools/syllable_walk_tui/core/test_ui_updates.py
Due: check-rst-docstrings

docs: Automate version from pyproject.toml in Sphinx conf.py
  docs/requirements.txt
  docs/source/conf.py
Due: none

docs: Automate version from pyproject.toml in Sphinx conf.py (#40)
  docs/requirements.txt
  docs/source/conf.py
Due: none

refactor(build_tools): Extract shared CLI code from syllable extractors
  build_tools/nltk_syllable_extractor/__init__.py
  build_tools/nltk_syllable_extractor/batch.py
  build_tools/nltk_syllable_extractor/cli.py
  build_tools/nltk_syllable_extractor/interactive.py
  build_tools/pyphen_syllable_extractor/__init__.py
  build_tools/pyphen_syllable_extractor/batch.py
  build_tools/pyphen_syllable_extractor/cli.py
  build_tools/pyphen_syllable_extractor/interactive.py
  build_tools/tui_common/batch.py
  build_tools/tui_common/interactive.py
  build_tools/tui_common/ledger.py
  tests/test_corpus_db_integration.py
  tests/test_pyphen_syllable_extractor_batch.py
Due: check-cli-docs-reminder, check-rst-docstrings

fix(pipeline_tui): Await remove_children in file selector to prevent duplicate IDs
  build_tools/pipeline_tui/screens/file_selector.py
  tests/build_tools/pipeline_tui/test_file_selector.py
Due: check-rst-docstrings

fix(tests): Make path assertion cross-platform for Windows CI
  tests/build_tools/tui_common/test_interactive.py
Due: none

refactor(build_tools): Standardize CLI interfaces across all build tools
  build_tools/corpus_db_viewer/cli.py
  build_tools/corpus_sqlite_builder/cli.py
  build_tools/name_combiner/__main__.py
  build_tools/name_selector/__main__.py
  build_tools/nltk_syllable_extractor/__main__.py
  build_tools/nltk_syllable_extractor/cli.py
  build_tools/nltk_syllable_normaliser/cli.py
  build_tools/pipeline_tui/__main__.py
  build_tools/pyphen_syllable_extractor/__main__.py
  build_tools/pyphen_syllable_extractor/cli.py
  build_tools/pyphen_syllable_normaliser/cli.py
  build_tools/syllable_feature_annotator/cli.py
  build_tools/syllable_walk/cli.py
  build_tools/syllable_walk_tui/__main__.py
  build_tools/syllable_walk_web/cli.py
Due: check-cli-docs-reminder, check-rst-docstrings

chore: Update author information in pyproject.toml
  pyproject.toml
Due: none

test(build_tools): Add tests for CLI exception handling
  build_tools/nltk_syllable_extractor/__main__.py
  build_tools/pipeline_tui/__main__.py
  build_tools/pyphen_syllable_extractor/__main__.py
  build_tools/syllable_walk_tui/__main__.py
  tests/build_tools/nltk_syllable_extractor/test_cli.py
  tests/build_tools/pipeline_tui/test_cli.py
  tests/build_tools/pyphen_syllable_extractor/test_cli.py
  tests/build_tools/syllable_walk_tui/test_main.py
Due: check-cli-docs-reminder, check-rst-docstrings

refactor(build_tools): Standardize CLI interfaces across all build tools (#43)
  build_tools/corpus_db_viewer/cli.py
  build_tools/corpus_sqlite_builder/cli.py
  build_tools/name_combiner/__main__.py
  build_tools/name_selector/__main__.py
  build_tools/nltk_syllable_extractor/__main__.py
  build_tools/nltk_syllable_extractor/cli.py
  build_tools/nltk_syllable_normaliser/cli.py
  build_tools/pipeline_tui/__main__.py
  build_tools/pyphen_syllable_extractor/__main__.py
  build_tools/pyphen_syllable_extractor/cli.py
  build_tools/pyphen_syllable_normaliser/cli.py
  build_tools/syllable_feature_annotator/cli.py
  build_tools/syllable_walk/cli.py
  build_tools/syllable_walk_tui/__main__.py
  build_tools/syllable_walk_web/cli.py
  pyproject.toml
  tests/build_tools/nltk_syllable_extractor/test_cli.py
  tests/build_tools/pipeline_tui/test_cli.py
  tests/build_tools/pyphen_syllable_extractor/test_cli.py
  tests/build_tools/syllable_walk_tui/test_main.py
Due: check-cli-docs-reminder, check-rst-docstrings

refactor: Modernize type hints using PEP 604 and PEP 585 syntax (#44)
  build_tools/corpus_db/ledger.py
  build_tools/nltk_syllable_extractor/batch.py
  build_tools/nltk_syllable_extractor/extractor.py
  build_tools/nltk_syllable_extractor/file_io.py
  build_tools/nltk_syllable_extractor/models.py
  build_tools/pyphen_syllable_extractor/batch.py
  build_tools/pyphen_syllable_extractor/extractor.py
  build_tools/pyphen_syllable_extractor/file_io.py
  build_tools/pyphen_syllable_extractor/language_detection.py
  build_tools/pyphen_syllable_extractor/languages.py
  build_tools/pyphen_syllable_extractor/models.py
  build_tools/pyphen_syllable_normaliser/aggregator.py
  build_tools/pyphen_syllable_normaliser/frequency.py
  build_tools/pyphen_syllable_normaliser/models.py
  build_tools/pyphen_syllable_normaliser/normalizer.py
  build_tools/syllable_analysis/common/data_io.py
  build_tools/syllable_analysis/common/output.py
  build_tools/syllable_analysis/dimensionality/feature_matrix.py
  build_tools/syllable_analysis/dimensionality/mapping.py
  build_tools/syllable_analysis/feature_signatures.py
  build_tools/syllable_analysis/plotting/interactive.py
  build_tools/syllable_analysis/plotting/static.py
  build_tools/syllable_analysis/random_sampler.py
  build_tools/syllable_analysis/tsne_visualizer.py
  build_tools/syllable_walk/db.py
  build_tools/syllable_walk/profiles.py
  build_tools/syllable_walk/walker.py
  build_tools/syllable_walk_tui/modules/database/screen.py
  build_tools/syllable_walk_web/dataset_discovery.py
  build_tools/syllable_walk_web/run_discovery.py
  build_tools/syllable_walk_web/server.py
  build_tools/tui_common/batch.py
  build_tools/tui_common/cli_utils.py
  build_tools/tui_common/interactive.py
  build_tools/tui_common/ledger.py
  pipeworks_name_generation/generator.py
  tests/test_feature_signatures.py
Due: check-rst-docstrings

chore: Update repository URLs to pipe-works organization
  CONTRIBUTING.md
  README.md
  data/raw/syllable_extractor.db
  pyproject.toml
Due: none

chore: Update repository URLs to pipe-works organization (#46)
  CONTRIBUTING.md
  README.md
  data/raw/syllable_extractor.db
  pyproject.toml
Due: none

fix(tests): Add pilot.pause() to fix flaky Windows TUI test (#47)
  tests/test_corpus_db_viewer.py
Due: none

refactor(ci): migrate to reusable workflow
  .github/workflows/ci.yml
  .github/workflows/ci.yml.backup-20260126
Due: none

refactor(deps): migrate to reusable workflow
  pipeworks_name_generation/.github/workflows/dependency-update.yml
  pipeworks_name_generation/.github/workflows/dependency-update.yml.backup-20260126
Due: none

chore(ci): trigger fresh workflow run for Windows fix
  .github/workflows/ci.yml
Due: none

refactor: migrate to reusable workflows (#49)
  .github/workflows/ci.yml
  .github/workflows/ci.yml.backup-20260126
  pipeworks_name_generation/.github/workflows/dependency-update.yml
  pipeworks_name_generation/.github/workflows/dependency-update.yml.backup-20260126
  pipeworks_name_generation/.github/workflows/release-please.yml
  pipeworks_name_generation/.github/workflows/release-please.yml.backup-20260126
Due: none

Path conditions:
  check-cli-docs-reminder: any of: ^build_tools/.*/(cli|__main__)\.py$, but not: ^data/(normalized|annotated)/
  check-rst-docstrings: any of: ^build_tools/.*\.py$ and \.py$ and not (^data/(normalized|annotated)/)
