Repository pipe-works/pipeworks_name_generation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cli-docs-reminder, check-rst-docstrings

check-cli-docs-reminder:
  name: CLI Docs Reminder
  ...

check-rst-docstrings:
  name: RST Docstring Formatting
  entry: python scripts/check_rst_docstrings.py
  language: system
  pass_filenames: true

feat(walker-web): add patch/session IPC schemas and session path contracts
  build_tools/syllable_walk_web/cli.py
  build_tools/syllable_walk_web/schemas/walker_patch_output.v1.schema.json
  build_tools/syllable_walk_web/schemas/walker_patch_session.v1.schema.json
  build_tools/syllable_walk_web/schemas/walker_run_state.v1.schema.json
  build_tools/syllable_walk_web/server.py
  build_tools/syllable_walk_web/services/session_paths.py
  build_tools/syllable_walk_web/state.py
  tests/test_syllable_walk_server.py
  tests/test_syllable_walk_web_cli.py
  tests/test_syllable_walk_web_schema_resource.py
  tests/test_syllable_walk_web_session_paths.py
  tests/test_syllable_walk_web_state.py
Due: check-cli-docs-reminder, check-rst-docstrings

fix(tests): make walker settings path assertion cross-platform
  tests/test_syllable_walk_server.py
Due: none

feat(walker-web): add patch/session IPC schema and sessions base plumbing (#110)
  build_tools/syllable_walk_web/cli.py
  build_tools/syllable_walk_web/schemas/walker_patch_output.v1.schema.json
  build_tools/syllable_walk_web/schemas/walker_patch_session.v1.schema.json
  build_tools/syllable_walk_web/schemas/walker_run_state.v1.schema.json
  build_tools/syllable_walk_web/server.py
  build_tools/syllable_walk_web/services/session_paths.py
  build_tools/syllable_walk_web/state.py
  tests/test_syllable_walk_server.py
  tests/test_syllable_walk_web_cli.py
  tests/test_syllable_walk_web_schema_resource.py
  tests/test_syllable_walk_web_session_paths.py
  tests/test_syllable_walk_web_state.py
Due: check-cli-docs-reminder, check-rst-docstrings

feat(walker-web): persist patch outputs into run-state IPC sidecars
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/services/walker_run_state_store.py
  tests/test_syllable_walk_web_api_walker.py
  tests/test_syllable_walk_web_walker_run_state_store.py
Due: check-rst-docstrings

test(walker-web): cover run-state IPC mismatch and error branches
  tests/test_syllable_walk_web_walker_run_state_store.py
Due: none

feat(walker-web): persist patch outputs into run-state IPC sidecars (#111)
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/services/walker_run_state_store.py
  tests/test_syllable_walk_web_api_walker.py
  tests/test_syllable_walk_web_walker_run_state_store.py
Due: check-rst-docstrings

feat(walker-web): add dual-patch session IPC store service
  build_tools/syllable_walk_web/services/walker_session_store.py
  tests/test_syllable_walk_web_walker_session_store.py
Due: check-rst-docstrings

test(walker-web): cover walker session store guard branches
  tests/test_syllable_walk_web_walker_session_store.py
Due: none

feat(walker-web): add session APIs and patch comparison signal
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/server.py
  tests/test_syllable_walk_server.py
  tests/test_syllable_walk_web_api_walker.py
Due: check-rst-docstrings

feat(walker-web): add reach-cache rebuild API endpoint
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/server.py
  tests/test_syllable_walk_server.py
  tests/test_syllable_walk_web_api_walker.py
Due: check-rst-docstrings

test(walker-web): cover session and reach-cache API error branches
  tests/test_syllable_walk_server.py
  tests/test_syllable_walk_web_api_walker.py
Due: none

feat(walker-web): add phase 4 session and cache controls
  build_tools/syllable_walk_web/static/css/app.css
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/walker/corpus.js
Due: none

feat(walker-web): add session lock coordination and rebuild guidance UI
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/server.py
  build_tools/syllable_walk_web/services/walker_session_lock.py
  build_tools/syllable_walk_web/services/walker_session_store.py
  build_tools/syllable_walk_web/state.py
  build_tools/syllable_walk_web/static/css/app.css
  build_tools/syllable_walk_web/static/index.html
  build_tools/syllable_walk_web/static/js/ui/param-info.js
  build_tools/syllable_walk_web/static/js/walker/corpus.js
  build_tools/syllable_walk_web/static/js/walker/operations.js
  tests/test_syllable_walk_server.py
  tests/test_syllable_walk_web_api_walker.py
  tests/test_syllable_walk_web_walker_session_lock.py
  tests/test_syllable_walk_web_walker_session_store.py
Due: check-rst-docstrings

test(walker-web): cover lock/session IPC edge branches
  tests/test_syllable_walk_server.py
  tests/test_syllable_walk_web_api_walker.py
  tests/test_syllable_walk_web_walker_session_lock.py
  tests/test_syllable_walk_web_walker_session_store.py
Due: none

docs(walker-web): complete session IPC lock and QA guidance
  docs/source/build_tools/syllable_walk_web.rst
Due: none

docs(walker-web): complete session IPC lock and QA guidance (#116)
  docs/source/build_tools/syllable_walk_web.rst
Due: none

docs: add semver release guardrails to AGENTS
  AGENTS.md
Due: none

docs: add semver release guardrails to AGENTS (#117)
  AGENTS.md
Due: none

refactor(walker-web): extract active session lock helpers
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/api/walker_lock.py
  tests/test_syllable_walk_web_api_walker_lock.py
Due: check-rst-docstrings

refactor(walker-web): extract active session lock helpers (#119)
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/api/walker_lock.py
  tests/test_syllable_walk_web_api_walker_lock.py
Due: check-rst-docstrings

refactor(walker-web): extract shared walker API common helpers
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/api/walker_common.py
  tests/test_syllable_walk_web_api_walker_common.py
Due: check-rst-docstrings

refactor(walker-web): extract shared walker API common helpers (#120)
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/api/walker_common.py
  tests/test_syllable_walk_web_api_walker_common.py
Due: check-rst-docstrings

refactor(walker-web): extract session load/save handlers
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/api/walker_session.py
Due: check-rst-docstrings

refactor(walker-web): extract session load/save handlers (#121)
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/api/walker_session.py
Due: check-rst-docstrings

refactor(walker-web): extract cache and lock endpoint handlers
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/api/walker_cache_lock.py
Due: check-rst-docstrings

refactor(walker-web): extract cache and lock endpoint handlers (#122)
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/api/walker_cache_lock.py
Due: check-rst-docstrings

refactor(walker-web): extract generation and packaging handlers
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/api/walker_ops.py
Due: check-rst-docstrings

refactor(walker-web): extract generation and packaging handlers (#123)
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/api/walker_ops.py
Due: check-rst-docstrings

refactor(walker-web): split corpus api and in-memory state modules
  build_tools/syllable_walk_web/static/js/walker/corpus-api.js
  build_tools/syllable_walk_web/static/js/walker/corpus-state.js
  build_tools/syllable_walk_web/static/js/walker/corpus.js
Due: none

refactor(walker-web): split corpus api and in-memory state modules (#124)
  build_tools/syllable_walk_web/static/js/walker/corpus-api.js
  build_tools/syllable_walk_web/static/js/walker/corpus-state.js
  build_tools/syllable_walk_web/static/js/walker/corpus.js
Due: none

refactor(walker-web): split corpus render and action modules
  build_tools/syllable_walk_web/static/js/walker/corpus-actions-cache.js
  build_tools/syllable_walk_web/static/js/walker/corpus-actions-session.js
  build_tools/syllable_walk_web/static/js/walker/corpus-render.js
  build_tools/syllable_walk_web/static/js/walker/corpus.js
Due: none

refactor(walker-web): split corpus render and action modules (#125)
  build_tools/syllable_walk_web/static/js/walker/corpus-actions-cache.js
  build_tools/syllable_walk_web/static/js/walker/corpus-actions-session.js
  build_tools/syllable_walk_web/static/js/walker/corpus-render.js
  build_tools/syllable_walk_web/static/js/walker/corpus.js
Due: none

refactor(walker-web): extract corpus integrity and lock ui helpers
  build_tools/syllable_walk_web/static/js/walker/corpus-tooltips.js
  build_tools/syllable_walk_web/static/js/walker/corpus.js
Due: none

refactor(walker-web): extract corpus integrity and lock ui helpers (#126)
  build_tools/syllable_walk_web/static/js/walker/corpus-tooltips.js
  build_tools/syllable_walk_web/static/js/walker/corpus.js
Due: none

refactor(walker-web): tighten contracts and dedupe handlers
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/api/walker_cache_lock.py
  build_tools/syllable_walk_web/api/walker_ops.py
  build_tools/syllable_walk_web/api/walker_session.py
  build_tools/syllable_walk_web/api/walker_types.py
  build_tools/syllable_walk_web/static/js/walker/corpus-actions-cache.js
  build_tools/syllable_walk_web/static/js/walker/corpus-actions-session.js
  build_tools/syllable_walk_web/static/js/walker/corpus-api.js
  build_tools/syllable_walk_web/static/js/walker/corpus-contracts.js
  build_tools/syllable_walk_web/static/js/walker/corpus-state.js
  build_tools/syllable_walk_web/static/js/walker/corpus-tooltips.js
  build_tools/syllable_walk_web/static/js/walker/corpus.js
Due: check-rst-docstrings

refactor(walker-web): tighten contracts and dedupe handlers (#127)
  build_tools/syllable_walk_web/api/walker.py
  build_tools/syllable_walk_web/api/walker_cache_lock.py
  build_tools/syllable_walk_web/api/walker_ops.py
  build_tools/syllable_walk_web/api/walker_session.py
  build_tools/syllable_walk_web/api/walker_types.py
  build_tools/syllable_walk_web/static/js/walker/corpus-actions-cache.js
  build_tools/syllable_walk_web/static/js/walker/corpus-actions-session.js
  build_tools/syllable_walk_web/static/js/walker/corpus-api.js
  build_tools/syllable_walk_web/static/js/walker/corpus-contracts.js
  build_tools/syllable_walk_web/static/js/walker/corpus-state.js
  build_tools/syllable_walk_web/static/js/walker/corpus-tooltips.js
  build_tools/syllable_walk_web/static/js/walker/corpus.js
Due: check-rst-docstrings

docs: refresh walker web and sqlite builder documentation
  README.md
  docs/source/build_tools/corpus_sqlite_builder.rst
  docs/source/build_tools/index.rst
  docs/source/build_tools/syllable_walk_web.rst
Due: none

fix(webapp): prefix logs and prefer 8000-range auto ports
  README.md
  build_tools/syllable_walk_web/cli.py
  build_tools/syllable_walk_web/server.py
  pipeworks_name_generation/webapp/handler.py
  pipeworks_name_generation/webapp/runtime.py
  server.example.ini
  tests/test_pipeworks_webapp_runtime.py
  tests/test_pipeworks_webapp_server.py
  tests/test_syllable_walk_server.py
Due: check-cli-docs-reminder, check-rst-docstrings

fix(deps): bump pipeworks-ipc pin to v0.1.2
  pyproject.toml
Due: none

fix(webapp): auto-fallback when configured 8000-range ports are busy
  build_tools/syllable_walk_web/server.py
  pipeworks_name_generation/webapp/runtime.py
  tests/test_pipeworks_webapp_runtime.py
  tests/test_pipeworks_webapp_server.py
  tests/test_syllable_walk_server.py
Due: check-rst-docstrings

Path conditions:
  check-cli-docs-reminder: any of: ^build_tools/.*/(cli|__main__)\.py$, but not: ^data/(normalized|annotated)/
  check-rst-docstrings: any of: ^build_tools/.*\.py$ and \.py$ and not (^data/(normalized|annotated)/)
